<div class="cont">
  <%= image_tag "world_1000.png", :'data-nopix' => true %>
  <div class="world">
    <%= image_tag("dot.png", :class => "dot_1 dot", :id => "dot_1", :'data-content' => "Data Center", :title => "Apple") %>
  </div>
  <div class="world">
    <%= image_tag("dot.png", :class => "dot_2 dot", :id => "dot_2", :'data-content' => "Data Center", :title => "Apple") %>
  </div>
</div>
<script>
  $(document).ready(function() {
    $(".dot").popover({
      placement: 'top',
      title: "Apple",
      delay: { hide: 800, show: 10 }
    });
  });
</script>