<html>

<body>
  <h3>Greetings, <%= @nickname %>!</h3>
  You have been attacked by another hacker. Make sure to check your defenses and stats <%= link_to "here", "http://game.derschuster.de" %> and plot your revenge!
</body>
</html>