<html>

<body>
  <h3>Greetings, <%= @nickname %>!</h3>
  Your systems have been access by an unauthorized source. Make sure to check your defenses and stats <%= link_to "here", "http://game.derschuster.de" %>.
</body>
</html>