<h3>Recent Actions</h3>
<% if @recent_actions.present? %>
<table border="0" cellspacing="0" cellpadding="0" class="table-condensed">
  <% @recent_actions.each do |action| %>
  <tr>
    <td nowrap="nowrap"><%= action.readable_type %></td>
    <td nowrap="nowrap" class="pull-right"><%= time_ago_in_words(action.completed_at, true) %> ago</td>
  </tr>
  <% end %>
</table>
<% else %>
  No recent Actions!
<% end %>