<div class="hero-unit">
  <h2>Operations</h2>
  <p>You can start an operation to attack another hacker or a company. Hacking another Hacker requires a high hacking skill to conquer the enemy's defenses. You can steal money from your victim if you succeed. Attacking others with your Botnet for a dDoS-Attack can deactivate the victim's systems on success. But beware! Failing an operation can lead to arrest by the authorities or malfunctions in your system.</p>
</div>
<h3>Other hackers you can attack</h3>
<% if @attackable_users.present? %>
  <%= render :partial => "operations_list" %>
<% else %>
  <p>
    You are not strong enough to attack any other hacker. <%= link_to "Evolve your hacking skills first", actions_path %>.
  </p>
<% end %>