<table border="0" cellspacing="0" cellpadding="0" class="table table-condensed">
  <tr>
    <td>
      Hacking skill:
    </td>
    <td>
      <%= current_user.hacking_ratio %>
    </td>
  </tr>
  <tr>
    <td>
      Botnet strength:
    </td>
    <td>
      <%= current_user.botnet_ratio %>
    </td>
  </tr>
  <tr>
    <td>
      Defense ratio:
    </td>
    <td>
      <%= current_user.defense_ratio %>
    </td>
  </tr>
  <tr>
    <td>
      Money:
    </td>
    <td>
      <%= number_to_currency(current_user.money) %>
    </td>
  </tr>
</table>