<div class="stats">
  <h3>Your current Stats</h3>
  Botnet ratio: <%= current_user.botnet_ratio %><br />
  Hacking skill: <%= current_user.hacking_ratio %><br />
  Money: <%= number_to_currency(current_user.money) %>
</div>