<script>
$(document).ready(function() {
	chart1 = new Highcharts.Chart({
		chart: {
			renderTo: 'user_strength_chart',
			type: 'column'
		},
		title: {
			text: 'User strengts'
		},
		xAxis: {
			categories: [
			<%= @users_nicknames.join(",") %>
			]
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Strength'
			}
		},
		legend: {
			layout: 'vertical',
			backgroundColor: '#FFFFFF',
			align: 'left',
			verticalAlign: 'top',
			x: 100,
			y: 70,
			floating: true,
			shadow: true
		},
		plotOptions: {
			column: {
			  pointPadding: 0.2,
				borderWidth: 0,
				dataLabels: {
					enabled: true,
					color: 'gray'
				}
			}
		},
		series: [
		  <%= @hacking_strengths %>,
		  <%= @botnet_strengths %>,
		  <%= @defense_strengths %>
		]
	});
});
</script>
<div id="user_strength_chart" class="col-md-12" style="height: 400px"></div>