.cont {
  padding-top: 20px;

  .world {
    width: 1000px;
    height: 612px;
    margin-top: -612px;

    .dot_1 {
      margin-left: 170px;
      margin-top: 224px;
    }
    .dot_2 {
      margin-left: 517px;
      margin-top: 193px;
    }
  }
}