th {
  text-align: left;
}
a {
  color: #006c0f;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #006c0f;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #006c0f;
  text-decoration: underline;
  font-weight: bold;
}
.amount {
  text-align: right;
}
.min_height {
  float: left;
  width: 0px;
  height: 100%;
  margin-bottom: -52px;
}
.footer {
  width: 100%;
  clear: both;
  height: 50px;
  position: relative;
  min-width: 800px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  z-index: 999;
  min-width: 800px;

  .system {
    float: right;
  }

  .flash {
    width: 500px;
    display: block;
    margin: auto;
    text-align: center;

    #alert, #error {
      padding: 5px;
      border: 1px solid red;
      color: red;
    }

    #notice {
      padding: 5px;
      border: 1px solid green;
      color: green;
    }

    #info {
      padding: 5px;
      border: 1px solid black;
    }
  }
}
.all {
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: -52px;
  min-height: 100%;
  min-width: 800px;

  .clear_head {
    height: 72px;
  }

  .line {
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden; 
  }
  .left {
    position: relative;
    width: 130px;
    float: left;
    margin-left: -129px;
    z-index: 100;
    left: -1px;
    padding: 10px 0 0 10px;;
  }

  .right {
    position: relative;
    width: 190px;
    padding: 10px;
    float: right;
    margin-right: -129px;
    left: 1px;
  }

  .middle {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 0 -1px;
  }
}
.deactivated {
  color: #7d7d7d;
}